html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    background-color: #FFFFFF;
    color: #000000;
}

body.body_lock{
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}

.theme__button {
    @include button-reset;
}

.theme__button {
    font-size: 0;
    overflow: hidden;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding: 14px 32px;
}

.theme__button_dark-mode {
    background-image: url(../img/svg/dark-mode.svg);
}

.theme__button_light-mode {
    background-image: url(../img/svg/light-mode.svg);
}

@media (max-width: 560px) {
    .container {
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
  .theme__controls_header {
      display: none;
  }
}
// Подключение стилей блока header
@import './header/_header.scss';
// Подключение стилей блока main
@import './main/_main.scss';
// Подключение стилей блока footer
@import './footer/_footer.scss';